{
    "printWidth": 120,
    "eslintIntegration": true,
    "stylelintIntegration": true,
    "tabWidth": 2,
    "semi": false,
    "trailingComma": "none",
    "singleQuote": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "htmlWhitespaceSensitivity": "ignore"
  }